[submodule "ROS2/src/vr_publisher"]
	path = ROS2/src/vr_publisher
	url = https://github.com/09ubberboy90/vr_publisher.git
[submodule "ROS2/src/ur_isaac"]
	path = ROS2/src/ur_isaac
	url = https://github.com/09ubberboy90/ur_isaac.git
[submodule "ROS2/src/isaac_sim"]
	path = ROS2/src/isaac_sim
	url = https://github.com/09ubberboy90/telesim_isaac.git
[submodule "ROS2/src/t42_gripper"]
	path = ROS2/src/t42_gripper
	url = https://github.com/09ubberboy90/t42_gripper.git
[submodule "ROS2/src/senseglove_ros2_ws"]
	path = ROS2/src/senseglove_ros2_ws
	url = https://github.com/09ubberboy90/senseglove_ros2_ws.git
	branch = ros2
